- name: Create Compose Directories
  ansible.builtin.file:
    path: /home/ansible/{{ item.file }}/
    state: directory
    owner: root
    group: root
    mode: '775'
  loop: "{{ compose | default([], true) }}"

- name: Create Config Directories
  ansible.builtin.file:
    path: /home/ansible/{{ item.file }}/config/
    state: directory
    owner: root
    group: root
    mode: '775'
  loop: "{{ compose | default([], true) }}"

- name: Create Tailscale State Directories
  ansible.builtin.file:
    path: /home/ansible/{{ item.file }}/ts/state/
    state: directory
    owner: root
    group: root
    mode: '775'
  loop: "{{ compose | default([], true) }}"

- name: Create Tailscale Config Directories
  ansible.builtin.file:
    path: /home/ansible/{{ item.file }}/ts/config/
    state: directory
    owner: root
    group: root
    mode: '775'
  loop: "{{ compose | default([], true) }}"

- name: Copy docker compose files
  ansible.builtin.template:
    src: templates/{{ item.file }}/{{ item.file }}.yml.j2
    dest: /home/ansible/{{ item.file }}/docker-compose.yml
    owner: root
    group: root
    mode: '664'
  loop: "{{ compose | default([], true) }}"
  vars:
    tailscale_authkey: "{{ lookup('community.general.bitwarden', 'tailscale_auth_key', field='notes')[0] }}"

- name: Copy Tailscale Sidecar Compose Files
  ansible.builtin.template:
    src: templates/ts-service/ts-service.yml.j2
    dest: /home/ansible/{{ item.file }}/ts-service.yml
    owner: root
    group: root
    mode: '664'
  loop: "{{ compose | default([], true) }}"
  vars:
    tailscale_authkey: "{{ lookup('community.general.bitwarden', 'tailscale_auth_key', field='notes')[0] }}"

- name: Copy tailscale config files
  ansible.builtin.template:
    src: templates/{{ item.file if "custom" in item and item.custom else "ts-service" }}/ts.json.j2
    dest: /home/ansible/{{ item.file }}/ts/config/ts.json
    owner: root
    group: root
    mode: '664'
  loop: "{{ compose | default([], true) }}"

- name: Deploy dockers
  community.docker.docker_compose_v2:
    project_src: /home/ansible/{{ item.file }}/
    files:
      - "docker-compose.yml"
  loop: "{{ compose | default([], true) }}"
