{
  "TCP": {
    
        
      },
  "Web": {
        "${TS_CERT_DOMAIN}:10300": {
      "Handlers": {
        "/": {
          "Proxy": "http://127.0.0.1:10300"
        }
      }
    }
    , 
        "${TS_CERT_DOMAIN}:50021": {
      "Handlers": {
        "/": {
          "Proxy": "http://127.0.0.1:50021"
        }
      }
    }
    
        
      }
  }