include:
  - ts-service.yml

services:
  faster-whisper:
    image: lscr.io/linuxserver/faster-whisper:gpu
    container_name: faster-whisper-jap
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
      - WHISPER_MODEL=medium
      - WHISPER_LANG=jp # optional
    volumes:
      - /home/ansible/{{ item.file }}/config/whisper:/config
    restart: unless-stopped
    runtime: nvidia
    deploy:
        resources:
          reservations:
            devices:
              - driver: nvidia
                count: 1
                capabilities: [gpu]
    network_mode: service:ts-sidecar
    depends_on:
      - ts-sidecar

  voicevox:
    image: voicevox/voicevox_engine:nvidia-latest 
    container_name: voicevox 
    volumes:
      - /home/ansible/{{ item.file }}/config/voicevox:/config
    restart: unless-stopped
    runtime: nvidia
    deploy:
        resources:
          reservations:
            devices:
              - driver: nvidia
                count: 1
                capabilities: [gpu]
    network_mode: service:ts-sidecar
    depends_on:
      - ts-sidecar