---
services:
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=Asia/Tashkent
      - PORT=5055 # optional
    ports:
      - 5055:5055
    volumes:
      - /home/ansible/jellyseer/config:/app/config
    restart: unless-stopped
