include:
  - ts-service.yml

services:
  wizarr:
    container_name: wizarr
    pull_policy: always
    image: ghcr.io/wizarrrr/wizarr:latest
    volumes:
      - /home/ansible/{{ item.file }}/config:/data/database
    restart: unless-stopped
    network_mode: service:ts-sidecar
    depends_on:
      - ts-sidecar
