include:
  - ts-service.yml

services:
  homeassistant:
    container_name: homeassistant 
    image: ghcr.io/home-assistant/home-assistant:latest
    pull_policy: always
    volumes:
      - /home/ansible/{{ item.file }}/config:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    environment:
      GPIOZERO_PIN_FACTORY: pigpio
      PIGPIO_ADDR: 192.168.1.142
    cap_add:
      - NET_ADMIN
      - NET_RAW
    restart: unless-stopped
    privileged: true
    network_mode: service:ts-sidecar
    depends_on:
      - ts-sidecar
  
