# include:
#   - ts-service.yml
# 
services:
  jellyfin:
    container_name: jellyfin
    image: jellyfin/jellyfin 
    pull_policy: always
    volumes:
      - /home/ansible/jellyfin/config:/config
      - /home/bleroux/Videos/shows:/data/tvshows:rw
      - /home/bleroux/Videos/movies:/data/movies:rw
      - /home/bleroux/Music:/data/music:rw
    restart: unless-stopped
    ports:
      - 8096:8096
    # network_mode: service:ts-sidecar
    # depends_on:
    #   - ts-sidecar
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
