- name: Setup redhat
  ansible.builtin.include_tasks: docker-fedora.yml
  when: ansible_facts["os_family"] == 'RedHat'

- name: Setup debian
  ansible.builtin.include_tasks: docker-debian.yml
  when: ansible_facts["os_family"] == 'Debian'
